* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.none {
  display: none;
}

/************************************ header, nav & footer */

header,
footer {
  background-color: #333333;
  color: #cccccc;
  z-index: 1;
}

header a {
  color: #cccccc;
}

footer {
  padding: 20px 0;
  text-align: center;
  /* margin-top: 3%; */
  position: relative;
  bottom: 0px;
  width: 100%;
}

header h1 {
  padding-left: 20px;
  margin: auto 0;
}

nav {
  display: flex;
  width: 70%;
  margin: auto;
}

nav ul {
  display: flex;
  margin: 0;
  padding-left: 5%;

}

nav ul li,
.li {
  list-style-type: none;
  padding: 20px 10px 0 10px;
  font-size: 1.5em;
  padding-bottom: 8%;
}

/* nav ul li:hover {
  background-color: black;
  color: white;
  padding: 20px 10px 0 10px;
  z-index: -2;
} */

/* #navbar ul li .active {
  background-color: black;
  color: white;
  /* padding: auto 4%; 
} */

nav img {
  height: 3vw;
  vertical-align: baseline;
  padding: 5px;
  margin-top: 1%;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 15%;
  background-color: #333333;
  color: #cccccc;
  z-index: 1;
}

#photoDeCouv {
  width: 100%; 
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

/***************************************** HOME */

#bloc_general {
  width: 70%;
  margin: auto;
}

#presentation,
.fondGris {
  background-color: #f2f2f2;
  padding: 5%;

}

#presentation h2,
.mesH2 {
  font-size: 3em;
  padding-top: 0;
  margin-top: 0;
}

#presentation p,
.mesP {
  font-size: 1.5em;
}

#choix {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 6%;
}

#choix a {
  width: 25%;
  padding: 10px 10px 50px 10px;
  margin: 4% 0;
  color: black;
}

#choix a:hover {
  filter: saturate(1.8);
  box-shadow: 10px 10px 15px grey;
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
}

#choix a p {
  font-size: 2.2em;
  margin-bottom: 2%;
  height: 50%;
}

#choix a img {
  width: 100%;
  height: 11vw;
}


/************************************* CONNEXION */
#mon_bloc {
  background-color: #f2f2f2;
}

#mon_bloc,
.bloc {
  text-align: center;
  padding: 10px;
  height: 800px;
}

#mon_bloc form {
  width: 30%;
  margin: 0 auto;
}

#mon_bloc input[type=text],
#mon_bloc input[type=password],
.input {
  margin: 15px auto;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 80%;
  display: inline-block;
}

#mon_bloc label {
  margin-right: 63%;

}

#mon_bloc input[type=submit],
.submit {
  padding: 12px 20px;
  background-color: #006bb3;
  color: white;
  width: 88%;
  margin-top: 3%;
  border-radius: 8px;
  border: none;
  padding: 14px 20px;
  cursor: pointer;
}

#mon_bloc input[type=submit]:hover {
  background-color: #005c99;
}

/********************************** général */
.mesH2 {
  margin-top: 2%;
}

.form {
  width: 50%;
  margin: 0 auto;
}

.input {
  width: 350px;
}

.select {
  width: 390px;
  margin: 15px auto;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: inline-block;
}

.label {
  width: 150px;
  position: absolute;
  left: 18%;
  padding-top: 1.5%;

}

.submit {
  width: 80%;
}

/* ***************************************** */

#formNvJ {
  margin-top: 5%;
}


.pageAjout {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

#divNvJ .bloc {
  width: 80%;
}


#divNvJ #ListeJ {
  width: 20%;
}

.liste1 {
  background-color: #005c99;
  color: white;
  padding: 5px;
}

#ListeJ li {
  border: 1px solid #d9d9d9;
}


#Court {
  width: 70%;
}

#Court form {
  margin-top: 5%;
}

#formPlan label {
  position: absolute;
  left: 18%;
}

#blocPlan {
  width: 80%;
}
